.App {
  text-align: center;
  margin-top: 20px;
}

.accordion-item {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.accordion-button {
  background-color: #131414;
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
}
