body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

.container {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}



/* Centraliza a moldura verticalmente na página */
body {
    height: 10vh;
    margin: 560px;
    background-color: #376F6C; /* Fundo claro para contraste */
    align-items: center;
    justify-content: center;
    
}


/* Estilo da moldura */
.form-moldura {
    border: 2px solid #ebeeee;  /* Cor da borda azul */
    padding: 20px;              /* Espaçamento interno */
    width: 300px;               /* Largura da moldura */
    border-radius: 10px;        /* Bordas arredondadas */
    background-color: #193941;  /* Cor de fundo cinza claro */
    text-align: center;         /* Centraliza o conteúdo */
}

/* Estilo do título */
.form-moldura h2 {
    margin-bottom: 20px;        /* Espaçamento abaixo do título */
    color: #f8f2f2;             /* Azul do SUAP */
    font-family: Arial, sans-serif;
}

/* Estilo da tabela de login */
.login-table {
    background-color: #d3d3d3;  /* Fundo cinza dentro da tabela */
    width: 100%;                /* A tabela ocupa toda a largura da moldura */
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;           /* Espaçamento superior para a tabela */
}

.login-table td {
    padding: 10px;
    text-align: center;
}

/* Estilo do link dentro da moldura */
.form-moldura a {
    font-size: 18px;
    color: #0c0c0c;             /* Azul do SUAP */
    text-decoration: none;
    font-weight: bold;
}

.form-moldura a:hover {
    text-decoration: underline;
}







/* Estilo para a container do boletim */
.boletim-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Estilo para o formulário do boletim */
.boletim-form {
    margin-bottom: 20px;
}

.boletim-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.boletim-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.boletim-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boletim-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para a tabela do boletim */
.boletim-table {
    width: 100%;
    border-collapse: collapse;
}

.boletim-table th, .boletim-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.boletim-table th {
    background-color: #007bff;
    color: white;
}
